.menu{margin:0px auto;width:500px;padding-top:13px;padding-left:359px;}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td{margin:0px;padding:0px;border:0px none;outline:0px none;font-size:100%;vertical-align:baseline;background:none repeat scroll 0px 0px transparent;}
:focus{outline:0px none;}
body{font:14px/20.3906px Arial, Helvetica, sans-serif;color:rgb(34, 34, 34);min-width:320px;}
a{color:rgb(214, 4, 59);outline:medium none;text-decoration:underline;}
a:hover{color:rgb(0, 150, 0);text-decoration:underline;}
.bg-flower-top{padding-top:30px;background:url('bg-flowe.png') no-repeat scroll center top transparent;}
.bg-flower-bottom{background:url('bg-flowf.png') no-repeat scroll center bottom transparent;}
.marginer{width:1000px;min-height:3500px;margin:-49px auto 0px;}
.docwrap{width:100%;padding:64px 0px 30px;background:none repeat scroll 0px 0px rgb(255, 255, 255);border-radius:0px 0px 17px 17px;box-shadow:0px 0px 15px 2px rgb(225, 205, 194);}
.col-content{width:960px;margin-left:15px;padding-top:6px;}
.header{width:970px;height:40px;margin:0px auto;padding:30px 15px 40px;background:rgb(255, 255, 255);border-radius:17px 17px 0px 0px;box-shadow:0px 0px 15px 2px rgb(225, 205, 194);position:relative;}
.header img:first-child{margin-left:42px;margin-top:-62px;}
.header .title span{margin-left:98px;font-size:28px;}
.footer{width:1000px;height:35px;margin:20px auto 0px;}
.footer .copyright{float:left;padding-top:6px;font-size:12px;color:rgb(151, 147, 144);margin-left:10px;}
.footer p{margin-bottom:0px;}
.mainmenu{position:relative;height:89px;margin-top:-40px;background:url('mainmenu.png') no-repeat scroll center top transparent;z-index:50;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0px;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
h1{font:bold 25px/29px Georgia, sans-serif;color:rgb(157, 76, 180);}
h3{}
p{margin-bottom:10px;}
.post_meta{line-height:1.3;font-size:11px;margin-bottom:20px;font-style:italic;color:rgb(102, 102, 102);}
.post_meta a{color:rgb(0, 102, 204);text-decoration:none;}
.align_center{text-align:center;}
.align_center a{display:inline-block;margin-left:10px;}
.align_center a:first-child{margin-left:0px;}
.link{font-size:23px;}
.r-title{font-size:18px;}
dl{margin-bottom:20px;}
dt{font-style:italic;margin-top:20px;}
.img-right{float:right;width:200px;}
.comment_stat{margin:10px 0px 30px;padding-right:250px;}
.comment_stat > div{float:right;margin-left:50px;}
.grey{color:rgb(153, 153, 153);}
.unit-rating{margin:5px 0px 0px;padding:0px;list-style:none outside none;width:70px;height:14px;position:relative;float:left;background:none repeat scroll 0px 50% rgb(204, 204, 204);}
.unit-rating li{margin:0px;padding:0px;text-indent:-90000px;float:left;}
.unit-rating a{padding:0px;text-decoration:none;cursor:pointer;left:0px;display:block;height:14px;text-indent:-9000px;position:absolute;background:none repeat scroll 0% 0% transparent;}
.unit-rating a:hover{background:none repeat scroll 0% 0% rgb(214, 4, 59);}
.current-rating{width:56px;height:14px;background:none repeat scroll 0% 0% green;opacity:0.4;}
.r1-unit{width:14px;z-index:6;}
.r2-unit{width:28px;z-index:5;}
.r3-unit{width:42px;z-index:4;}
.r4-unit{width:56px;z-index:3;}
.r5-unit{width:70px;z-index:2;}
.param{font-size:11px;color:rgb(140, 140, 140);}
.value{text-align:right;}
.buy_here{margin:25px 0px;}
.comments_title{font-family:'Arial Narrow', Tahoma, Arial, Helvetica, sans-serif;font-size:32px;font-weight:normal;line-height:34px;display:inline;}
.comments_title a{color:rgb(0, 0, 0);text-decoration:none;}
.comments_all{padding:10px 0px 32px;float:right;font-style:italic;font-size:12px;color:rgb(117, 117, 117);}
.comment{border-radius:5px 5px 5px 5px;background-color:rgba(220, 187, 187, 0.2);margin-bottom:25px;border:1px solid rgb(220, 187, 187);}
.comment .comment{margin:10px 10px 10px 50px;}
.comment_avaatar{float:left;padding:10px;}
.comment_body{margin-left:100px;padding-top:6px;}
.comment_date{font-size:11px;color:rgb(133, 133, 133);}
.comment_txt{margin:10px 0px;}
.digest{border-radius:15px 15px 15px 15px;background-color:rgb(254, 249, 250);margin:20px 0px;border:1px solid rgb(220, 187, 187);padding:10px;}
.digest-left{margin-right:230px;}
.digest h1{font-size:18px;}
.header .title{color:#f4507c;font-family:"Times New Roman";font-size:32px;font-weight:600;left:254px;line-height:40px;position:absolute;top:22px;z-index:9;line-height:1.7;}
.header .title mark{color:#f4507c;}
.for_width{width:100%;}
.for_width2{width:93.5%;}
.comment_body p{padding-right:10px;}
.comment_body .comment_txt img{max-width:80%;}
.comments > .comment{width:100%;}
.comments > .comment > .comment{width:93.5%;}
.main_btn{margin:20px auto;color:rgb(255, 255, 255);text-transform:uppercase;background-color:rgb(214, 4, 59);border-radius:10px;width:450px;letter-spacing:2px;text-align:center;padding:10px 0;transition:all .2s ease-out;box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.main_btn:hover{box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
a.btn_link{text-decoration:none;}
@media screen and (max-width:1099px){.marginer{width:750px;}
                                     .menu{padding-left:0;}
                                     h1{font-size:22px;}
                                     .header img:first-child{margin-left:32px;}
                                     .header,
                                     .col-content,
                                     .footer{width:720px;}
                                     .mainmenu{width:850px;left:50%;transform:translateX(-50%);background-size:105% 85%;}
                                     .docwrap{padding-top:50px;}
                                     .bg-flower-top{background-position:left top;overflow:hidden;}
                                     .bg-flower-bottom{background-position:right bottom;}
                                     .header .title{left:215px;top:25px;font-size:23px;}
                                     .header .title span{margin-left:30px;font-size:26px;}
                                     .comments > .comment > .comment{width:91.5%;}
                                     .comments > .comment:nth-child(14) .two-in-row{max-height:300px;}
}
@media screen and (max-width:767px){.marginer{width:540px;}
                                    h1{font-size:18px;line-height:24px;}
                                    .header,
                                    .col-content,
                                    .footer{width:510px;}
                                    .header img:first-child{margin-left:-7px;}
                                    .docwrap img{max-width:90%;}
                                    .for_width2{width:auto;}
                                    .link{font-size:17px;}
                                    .mainmenu{width:615px;}
                                    .digest h1{font-size:13px;}
                                    .header .title{font-size:20px;text-align:center;left:142px;}
                                    .header .title span{margin-left:0;font-size:18px;}
                                    .digest-left{margin-right:0;}
                                    .img-right{float:none;display:block;margin:0 auto;}
                                    .comments > .comment > .comment{width:88.5%;}
                                    .two-in-row{max-height:261px;}
                                    .comments > .comment:nth-child(14) .two-in-row{max-height:292px;}
}
@media screen and (max-width:575px){.marginer,
                                    .header,
                                    .col-content,
                                    .footer,
                                    .mainmenu{width:auto;box-sizing:border-box;margin-left:10px;margin-right:10px;}
                                    .header{height:auto;text-align:center;padding-top:15px;padding-bottom:25px;}
                                    .header img:first-child{display:none;}
                                    .header .title{left:initial;top:initial;position:relative;font-size:20px;line-height:1.4;}
                                    .mainmenu{-webkit-background-size:cover;background-size:cover;left:initial;transform:initial;}
                                    .r-title{font-size:17px;}
                                    .comment_body{margin-left:84px;}
                                    .comment .comment{margin-left:25px;}
                                    .comment_txt{font-size:12px;}
                                    .img-right{width:180px;}
                                    .comment_body .comment_txt img, .docwrap img:not(.img-right){max-width:100%;}
                                    .comments > .comment > .comment{width:92.5%;}
                                    .two-in-row{max-height:289px;}
                                    .comments > .comment:nth-child(14) .two-in-row{max-height:286px;}
}
@media screen and (max-width:479px){.docwrap img.product{max-width:80%;}
                                    .comments > .comment > .comment{width:88.5%;}
                                    .main_btn{width:280px;}
                                    .two-in-row, .comments > .comment:nth-child(14) .two-in-row{max-height:163px;}
}